p{
  font-size: 18px;
  color: black;
}

.wTop {
  margin-top: 50px;
}


.can {
  align-self: center;
}

canvas {
  display: block;
  float: left;
  }
.lines {
  display: block;
}

.teensy {
  font-size: 10px;
}
.debug{
  border-color: yellow;
  border-width: 1px;
  border-style: dotted;

}
body {
  max-width: 1024px;
  margin: 0 auto;
}
